<dom-module id="glomo-benefit-code-styles"><template><style>
:host {
  display: block;
  box-sizing: border-box;
  font-family: var(--cells-fontDefault, sans-serif);
  @apply --glomo-benefit-code; }

:host([hidden]), [hidden] {
  display: none !important; }

*, *:before, *:after {
  font: inherit;
  box-sizing: inherit; }

.subtitle {
  font-size: 15px;
  padding: 1ch; }

.info {
  color: #1973b8;
  margin-right: 10px;
  font-size: large; }

.alert {
  color: red;
  margin-right: 10px;
  font-size: large; }

.warning {
  --cells-molecule-input-wrapper: { background-color: red; opacity: 0.5; };
  @apply --cells-molecule-input-molecule-input; }

.transparent {
  padding: 1ch;
  opacity: 0.5;
  font-size: 13px;
  display: flex; }

.error {
  padding: 1ch;
  opacity: 0.5;
  font-size: 13px;
  display: flex;
  color: red; }

cells-bottom-modal .buttons {
  display: flex;
  flex-direction: column;
  flex: auto; }
  cells-bottom-modal .buttons button {
    height: 50px;
    font-size: 0.85em;
    width: 144px;
    padding: 0 20px; }

</style></template></dom-module>