<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../cells-i18n-behavior/cells-i18n-behavior.html">
<link rel="import" href="glomo-benefit-code-styles.html">
<link rel="import" href="../cells-bottom-modal/cells-bottom-modal.html">
<link rel="import" href="../cells-st-button/cells-st-button.html">
<link rel="import" href="../cells-molecule-input/cells-molecule-input.html">
<!--
`<glomo-benefit-code>` description.

Example:

```html
<glomo-benefit-code></glomo-benefit-code>
```

## Icons

Since this component uses icons, it will need an [iconset](https://bbva.cellsjs.com/guides/best-practices/cells-icons.html) in your project as an [application level dependency](https://bbva.cellsjs.com/guides/advanced-guides/application-level-dependencies.html). In fact, this component uses an iconset in its demo.

## Styling

The following custom properties and mixins are available for styling:

| Custom property | Description     | Default        |
|:----------------|:----------------|:---------------|
| --glomo-benefit-code  | Mixin applied to :host     | {}  |
| --cells-fontDefault  | Font family of :host    | sans-serif  |

@customElement
@polymer
@demo demo/index.html
-->
<dom-module id="glomo-benefit-code">
  <template>
    <style include="glomo-benefit-code-styles glomo-benefit-code-shared-styles"></style>
    <slot></slot>
    <cells-bottom-modal id="modal" full-height="[[fullHeight]]" 
        close-icon-id="[[iconInput]]" on-close='close'>
          <h1 heading slot="heading">[[title]]</h1>
          <div class="subtitle">
            [[subtitle]]</div>
          <dom-if if="[[enableInput]]">
              <template>
                  <cells-molecule-input
                  label="[[labelInput]]" 
                  icon="coronita:close" 
                  max-length="[[inputLength]]" 
                  value="{{inputValue}}"
                  allowed-chars='[[allowedChars]]'
                  class$="[[classError]]">
                  </cells-molecule-input>
                  <template is="dom-if" if="[[inputMessage]]">
                    <div class="transparent">
                      <cells-atom-icon icon="coronita:info" class="info"></cells-atom-icon>
                      [[inputMessage]]
                    </div>
                  </template>
                  <template is="dom-if" if="[[inputErrorMessage]]">
                    <div class="error">
                      <cells-atom-icon icon="coronita:alert" class="alert"></cells-atom-icon>
                      [[inputErrorMessage]]
                    </div>
                  </template>
                  <slot name="description"></slot>
              </template>
          </dom-if>
          <dom-if if="[[message]]">
            <template>
              [[message]]
            </template>
          </dom-if>
          <div class="buttons" slot="buttons">
            <dom-if if="[[inputLength]]">
                <template>
                  <cells-st-button class="secundary"><button disabled="[[!buttonDisable]]" on-tap="_setValue">[[buttonDisableLabel]]</button></cells-st-button>
                </template>
            </dom-if>
            <!-- <dom-if if="[[primaryButton]]">
                <template>
                    <cells-st-button class='primary'><button on-tap="send">[[primaryButtonLabel]]</button></cells-st-button>
                </template>
            </dom-if> -->
            <dom-if if="[[cancelButton]]">
              <template>
                <cells-st-button class$='[[classCancelButton]] link'><button data-action="close">[[cancelButtonLabel]]</button></cells-st-button>
              </template>
            </dom-if>
          </div>
        </cells-bottom-modal>

  </template>
  <script src="glomo-benefit-code.js"></script>
</dom-module>